[submodule "boilerplate-npm"]
	path = boilerplate-npm
	url = https://github.com/yehezkielgunawan/boilerplate-npm.git
[submodule "boilerplate-express"]
	path = boilerplate-express
	url = https://github.com/yehezkielgunawan/boilerplate-express.git
[submodule "boilerplate-mongomongoose"]
	path = boilerplate-mongomongoose
	url = https://github.com/yehezkielgunawan/boilerplate-mongomongoose.git
[submodule "boilerplate-project-timestamp"]
	path = boilerplate-project-timestamp
	url = https://github.com/yehezkielgunawan/boilerplate-project-timestamp.git
